.landing-page{
    font-family: 'Rubik', sans-serif;
    font-size: larger;
}
.textstyle{
    font-size: 2.5rem;
    line-height: normal;
}
.CarpoolingImage {

}
.flex{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 8% 0 8% 0;
}
.textColor{
    color: #0C3EAD;
}
.textclass {
    padding: 5%;
}
.purplebutton {
    width: 100%;
    height: 65px;
    color: white;
    background-color: #0C3EAD;
    border-radius: 10px;
    border: 0;
    outline: 0;
}
.whitebutton {
    width: 100%;
    height: 65px;
    color: #0C3EAD;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #407BFF;
    outline: 0;
    margin-top: 16px;
}
.text1 {
    width: 200px;
    height: 500px;
}